@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

* {
  box-sizing: border-box;
}

body {
    display: block;
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    width: auto;
    
}
.vaultMain {
    margin: auto;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}
.favorite {
    background-color: gold;
    margin-left: 30%;
    margin-right: 30%;
    border-radius: 5px;
    box-shadow: 0px 4px 10px rgba(1, 1, 0, 0.4);
}
.missed {
    background-color: #D16666;
    margin-left: 30%;
    margin-right: 30%;
    border-radius: 5px;
    box-shadow: 0px 4px 10px rgba(1, 1, 0, 0.4);
}
main {
    background-color: #B6C649;
    display: flex;
    flex-direction: column;
    flex: 1;
    width: auto;
}
.logo {
    width: 120px;
} 

button:hover {
  transform: scale(1.05);
  background: #5a67d8;
}
header {
    display: flex;
    margin: 0;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    border-bottom-style: dashed;
    border-width: 1px;
    border-color: #B6C649;
}

ul {
    display: flex;

}

li {
    list-style: none;
    padding: 15px;
    
}

p {
    color: black;
}

a {
    text-decoration: none;
}
nav {
    display: flex;
    text-align: right;
    justify-content: flex-end; 
    padding-right: 30px;
}
.hero {
    width: auto;
    height: 50vh;
    object-fit: cover;
    display:block;
    background-image: url('imgs/Background\ Hero.png');
    background-position: center;  
    
}


.sample.fade-out {
  opacity: 0;
}
.sample {
    text-align: center;
    align-items: center;
    font-size: 40px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 1000;
    background-color: transparent;
    padding-top: 100px;
    padding-bottom: 50px;
    opacity: 1;
    transition: opacity 0.5s ease;
}

.info {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 50px;
    margin-bottom: 50px;
}
.gameInfo {
     grid-column: 1 / 2;
     margin: auto;
     display: flex;
     flex-direction: column;
}
.userStats {
    width: 70%;
    object-fit: cover;
    max-height: 350px;
    grid-column: 2 / 3;
    margin: auto;
    border: #B6C649;
    border-radius: 5px;
    padding-right: 30px;
    box-shadow: 0px 4px 10px rgba(1, 1, 0, 0.4);
}
.play {
    padding: 25px;
    margin: auto;
    background-color: #D16666;
    border-radius: 5px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    color: white;
    border-color: white;
    box-shadow: 0px 4px 10px rgba(1, 1, 0, 0.4);
}
.description {
    padding: 20px;
    padding-left: 35px;
}
h1 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 1000;
    color:#D16666;
    background-color: #2C4251;
    padding: 5px;
    padding-right: 10px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    margin: 0;
}
h2 {
    padding-bottom: 10px;
}
footer {
    display: flex;
    flex-direction: column;
    margin: 0;
    background-color: #2C4251;
    width: auto;
    padding-top: 30px;  
 }
 .footerP {
    margin: auto;
    padding: 5px;
    padding-bottom: 40px;
    color: white;
    font-size: 12px;

 }
 .footerA {
    color: white;
 }
 a:hover {
    color: #B6C649;
 }
 .footerNav {
    margin: auto;
    padding-right: 42px;
 }

 @media (max-width: 657px) {
  .info {
    display: flex;
    flex-direction: column;
  }
  .userStats {
    margin-top: 50px;
  }
  .description {
    margin-left: 10px;
    margin-right: 10px;
  }

  header {
    flex-direction: column;
  }
  
  .hero {
    width: 100%;
  }
  footer {
    padding-right: 0;
  }
  nav {
    padding-right: 0;
  }
  ul {
    flex-direction: column;
  }
  li {
    padding: 5px; 
  }

}